.card-img-top {
  object-fit: cover;
  width: 100%;
  height: 220px;
}

#sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  transform: translateX(-100%);
  transition: transform 0.3s;
  z-index: 1000;
}

#sidebar.show {
  transform: translateX(0);
}

.main-content-blur {
  filter: blur(2px);
  pointer-events: none;
}

@media (max-width: 768px) {
  #sidebar {
    min-width: 70vw;
  }
}
